* {
    margin: 0;
    padding: 0;
    /* background-color: #E5E5E5; */

}

/* Header */

.nav-container {
    display: flex;
    justify-content: space-between;
    margin-left: 423px;
    margin-right: 423px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-ul {
    border-bottom: 0.5px solid #4B6049;
    height: 90px;
}


.nav-ul>ul {
    display: flex;
    list-style: none;

}

.nav-ul>ul>li {
  
    margin-top: 56px;
    margin-bottom: 56px;
    font-family: 'Candara';
    font-weight: 400;
    font-style: Light;
    font-size: 26px;
    line-height: 32px;
    color: #484847;
}

.border-left {
    margin-left: 14.5px;
    margin-right: 25px;
}
.border-right {
    margin-right: 14.5px;
}

.border-middle {
    margin-right: 25px;
}

.logo-header {
    margin-top: 11px;
    margin-bottom: 0px;
}

.nav-img {
    margin-left: 37px;
}

.nav-img>img {
    margin-top: 54px;
    margin-bottom: 54px;
    margin-left: 20px;

}

.nav-btn {
    display: none;
}

/* Section first-view */

.firstview-container {
    position: relative;
}

.text-firstview {
    position: absolute;
    margin-top: 89px;
    margin-left: 423px;
}

.text-firstview>h2 {
    font-family: 'Poiret One', cursive;
    font-style: Regular;
    font-size: 60px;
    line-height: 70px;
    font-weight: 400;
    color: #484847;
}

.text-firstview>p {
    font-family: 'Candara';
    font-weight: 400;
    font-style: Light;
    font-size: 26px;
    line-height: 32px;
    color: #484847;
    margin-top: 78px;
}

.text-firstview>img {
    margin-top: 35px;
}

.firstview-img {
    margin-left: 797px;
    height: 804px;
}

.firstview-media-img {
    display: none;
}

.icon-container-media {
    display: none;
}

.icon-container {
    margin-top: 92px;
}

.icon-container>p {
    position: absolute;
    margin-top: 18px;
    margin-left: 64px;
    font-family: Candara;
    font-weight: 400;
    font-style: Light;
    font-size: 26px;
    line-height: 32px;
    color: #FFFBF5;

}


/* Section new */
.new-container {
    position: relative;
}

.text-new {
    position: absolute;

}

.text-new>h2 {
    font-family: 'Poiret One', cursive;
    font-style: Regular;
    font-size: 60px;
    line-height: 70px;
    font-weight: 400;
    color: #484847;
    margin-top: 78px;
    margin-left: 216px;
}

.text-new>p {
    font-family: 'Candara';
    font-weight: 400;
    font-style: Light;
    font-size: 26px;
    line-height: 32px;
    color: #484847;
    margin-top: 78px;
    margin-top: 58px;
    margin-left: 410px;
}

.text-new>img {
    margin-top: 718px;
    margin-left: 910px;
}

.new-media-img {
    display: none;
}

.icon-skroll-media {
    display: none;
}

/* Section info */

.icon-info {
    margin-top: 50px;
    margin-left: 841px;
}

.icon-info>p {
    position: absolute;
    margin-top: 18px;
    margin-left: 64px;
    font-family: 'Candara';
    font-weight: 400;
    font-style: Light;
    font-size: 26px;
    line-height: 32px;
    color: #FFFBF5;

}

.akne-info {
    margin-top: 100px;
    margin-left: 423px;
    margin-right: 423px;
}

.akne-img {
    float: left;
}

.akne-text {
    margin-left: 552px;
}

.akne-text>h3 {
    font-family: 'Candara';
    font-style: Regular;
    font-size: 40px;
    line-height: 49px;
    font-weight: 400;
    color: #000000;
}

.akne-text>p {
    font-family: 'Candara';
    font-weight: 400;
    font-style: Light;
    font-size: 26px;
    line-height: 32px;
    color: #484847;
    margin-top: 12px;
}

.akne-icon {
    margin-top: 12px;
}

.akne-icon>p {
    position: absolute;
    margin-top: 13px;
    margin-left: 49px;
    font-family: 'Candara';
    font-style: Regular;
    font-size: 20px;
    line-height: 24px;
    color: #484847;
}

.akne-info-media {
    display: none;
}



.care-info {
    margin-top: 100px;
    margin-left: 423px;
    margin-right: 423px;
}

.care-text {
    float: left;
    margin-right: 30px;
}

.care-text>h3 {
    font-family: 'Candara';
    font-style: Regular;
    font-size: 40px;
    line-height: 49px;
    font-weight: 400;
    color: #000000;
}

.care-text>p {
    font-family: 'Candara';
    font-weight: 400;
    font-style: Light;
    font-size: 26px;
    line-height: 32px;
    color: #484847;
    margin-top: 12px;
}

.care-icon {
    margin-top: 12px;
}

.care-icon>p {
    position: absolute;
    margin-top: 13px;
    margin-left: 49px;
    font-family: 'Candara';
    font-style: Regular;
    font-size: 20px;
    line-height: 24px;
    color: #484847;
}

.care-info-media {
    display: none;
}


.habit-info {
    margin-top: 100px;
    margin-left: 423px;
    margin-right: 423px;
}

.habit-img {
    float: left;
}

.habit-text {
    margin-left: 552px;
}

.habit-text>h3 {
    font-family: 'Candara';
    font-style: Regular;
    font-size: 40px;
    line-height: 49px;
    font-weight: 400;
    color: #000000;
}

.habit-text>p {
    font-family: 'Candara';
    font-weight: 400;
    font-style: Light;
    font-size: 26px;
    line-height: 32px;
    color: #484847;
    margin-top: 12px;
}

.habit-icon {
    margin-top: 12px;
}

.habit-icon>p {
    position: absolute;
    margin-top: 13px;
    margin-left: 49px;
    font-family: 'Candara';
    font-style: Regular;
    font-size: 20px;
    line-height: 24px;
    color: #484847;
}

.habit-info-media {
    display: none;
}


.icon-info-more {
    margin-top: 100px;
    margin-left: 860px;
}

.icon-info-more>p {
    position: absolute;
    margin-top: 13px;
    margin-left: 44px;
    font-family: 'Candara';
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 24px;
    color: #484847;

}

.icon-info-more-media {
    display: none;
}



/* Footer */
.footer-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 8px;
    width: 1920px;
    height: 192px;
    background-color: #4B6049;
}

.footer-icons {
    margin-left: 1253px;
    margin-top: 100px;
}

.footer-list-one>ul,
.footer-list-two>ul,
.footer-list-three>ul {
    list-style: none;
    font-family: 'Candara';
    font-style: Light;
    font-size: 20px;
    line-height: 30px;
    color: #FFFBF5;
    margin-top: 35px;
    padding-top: 3px;
}

.footer-list-one>ul {
    margin-left: 87px;
    margin-right: 39px;
}

.footer-list-three>ul {
    margin-left: 53px;

}

.logo-footer {
    margin-top: 29px;
    margin-left: 439px;

}

.footer-visa-pay {
    margin-top: 15px;
    margin-left: 109px;
    display: flex;
    align-items: center;
}

.footer-media {
    display: none;
}




@media (max-width: 376px) {

    /* Header */

    .nav-btn {
        display: block;
        cursor: pointer;
        margin-top: 27px;
    }

    .nav-contact {
        margin-right: 21px;
    }

    .nav-burger {
        margin-bottom: 6px;
        margin-right: 21px;
        margin-left: 21px;
    }

    .logo-header {
        display: block;
        cursor: pointer;
        margin-left: 18px;
    }

    .logo-header>img {
        width: 150px;
        height: 86px;
    }

    .nav-list {
        display: none;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        height: 86px;
        margin: 0;
        padding: 0;
    }

    /* Section first-view*/
    .firstview-container {
        height: 571px;
    }

    .firstview-img {
        display: none;
    }

    .firstview-media-img {
        display: block;
        margin: 0;
        padding: 0;
    }

    .text-firstview {
        margin: 0;
        padding: 0;
    }

    .text-firstview>h2 {
        margin-top: 253px;
        text-align: center;
        font-family: 'Poiret One', cursive;
        font-style: Regular;
        font-size: 32px;
        line-height: 37px;
    }

    .text-firstview>p {
        margin-top: 15px;
        font-size: 18px;
        line-height: 22px;
        font-style: Regular;
        margin-left: 15px;
    }

    .text-firstview>img {
        display: none;
    }

    .icon-container {
        display: none;
    }

    .icon-container-media {
        display: block;
        margin-top: 14px;
        margin-left: 20px;
        height: 46px;
    }

    .icon-container-media>p {
        position: absolute;
        margin-top: 10px;
        margin-left: 34px;
        font-family: 'Candara';
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 22px;
        color: #FFFBF5;
    }



    /* Section new */

    .new-img {
        display: none;
    }

    .new-container {
        margin-top: 49px;

    }

    .text-new>h2 {
        margin-top: 8px;
        margin-left: 18px;
        font-size: 18px;
        line-height: 22px;
    }

    .text-new>p {
        margin-left: 18px;
        margin-top: 32px;
        font-size: 14px;
        line-height: 17px;
    }

    .new-media-img {
        display: block;
        text-align: center;
    }

    .text-new>img {
        display: none;
    }

    .new-media-img {
        display: block;
    }

    .icon-skroll-media {
        display: block;
        margin-top: 127px;
        margin-left: 152px;
    }



    /* Section info */
    .icon-info {
     display: none;
    }

    .akne-info {
        display: none;
    }

    .akne-info-media {
        display: block;
        margin: 0;
        padding: 0;
    }

    .akne-text-media {
        margin-left: 16px;
        margin-top: 40px;
    }

    .akne-text-media>h3 {
        font-family: 'Candara';
        font-style: Regular;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        color: #000000;
    }

    .akne-text-media>p {
        font-family: 'Candara';
        font-weight: 400;
        font-style: Light;
        font-size: 14px;
        line-height: 17px;
        color: #484847;
        margin-top: 12px;
    }

    .akne-img-media {
        display: block;
        margin-top: 10px;
    }

    .akne-icon-media {
        margin-top: 10px;
    }

    .akne-icon-media>p {
        position: absolute;
        margin-top: 10px;
        margin-left: 20px;
        font-family: 'Candara';
        font-style: Regular;
        font-size: 18px;
        line-height: 22px;
        color: #484847;
    }

    .care-info {
        display: none;
    }

    .care-info-media {
        display: block;
        margin: 0;
        padding: 0;
    }

    .care-text-media {
        margin-left: 16px;
        margin-top: 40px;
    }

    .care-text-media>h3 {
        font-family: 'Candara';
        font-style: Regular;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        color: #000000;
    }

    .care-text-media>p {
        font-family:'Candara';
        font-weight: 400;
        font-style: Light;
        font-size: 14px;
        line-height: 17px;
        color: #484847;
        margin-top: 12px;
    }

    .care-img-media {
        display: block;
        margin-top: 10px;
    }

    .care-icon-media {
        margin-top: 10px;
    }

    .care-icon-media>p {
        position: absolute;
        margin-top: 10px;
        margin-left: 20px;
        font-family: 'Candara';
        font-style: Regular;
        font-size: 18px;
        line-height: 22px;
        color: #484847;
    }

    .habit-info {
        display: none;
    }

    .habit-info-media {
        display: block;
        margin: 0;
        padding: 0;
    }

    .habit-text-media {
        margin-left: 16px;
        margin-top: 40px;
    }

    .habit-text-media>h3 {
        font-family: 'Candara';
        font-style: Regular;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        color: #000000;
    }

    .habit-text-media>p {
        font-family: 'Candara';
        font-weight: 400;
        font-style: Light;
        font-size: 14px;
        line-height: 17px;
        color: #484847;
        margin-top: 12px;
    }

    .habit-img-media {
        display: block;
        margin-top: 10px;
    }

    .habit-icon-media {
        margin-top: 10px;
    }

    .habit-icon-media>p {
        position: absolute;
        margin-top: 10px;
        margin-left: 20px;
        font-family: 'Candara';
        font-style: Regular;
        font-size: 18px;
        line-height: 22px;
        color: #484847;
    }

    .icon-info-more {
        display: none;
    }

    .icon-info-more-media {
        display: block;
        margin-top: 40px;
        margin-left: 114px;
        height: 42px;
    }

    .icon-info-more-media>p {
        position: absolute;
        margin-top: 9px;
        margin-left: 10px;
        font-family: 'Candara';
        font-weight: 400;
        font-style: Regular;
        font-size: 20px;
        line-height: 24px;
        color: #484847;
    }


    /* Footer */

    .footer {
        display: none;
    }

    .footer-media {
        display: block;
        margin: 0;
        padding: 0;
    }

    .footer-icons-media {
        margin-left: 164px;
        margin-top: 38px;
    }

    .footer-container-media {
        margin: 0;
        padding: 0;
        height: 271px;
        background-color: #4B6049;
    }

    .logo-footer-media {
        margin-left: 16px;
    }

    .footer-text-one-media {
        margin-top: 20px;
        margin-left: 16px;
    }

    .footer-list-two-media {
        float: left;
    }

    .footer-text-two-media {
        margin-top: 39px;
        margin-left: 16px;
    }

    .footer-list-one-media {
        float: left;
    }

    .footer-list-three-media,
    .footer-list-four-media {
        margin-left: 172px;
    }

    .footer-list-two-media>ul,
    .footer-list-three-media>ul,
    .footer-list-one-media>ul,
    .footer-list-four-media>ul {
        list-style: none;
        font-family: 'Candara';
        font-weight: 400;
        font-style: Light;
        font-size: 14px;
        line-height: 17px;
        color: #FFFBF5;
    }

    .footer-visa-pay-media {
        display: flex;
        align-items: center;
        margin-top: 48px;
        margin-left: 164px;
    }




}